{% extends 'base.html' %}

{% block content %}
<div class="content">
{% if model_name %}
Model : <span style="color:green">{{ model_name }}</span> is successfully created..<br>
{% endif %}

<h2>List of Models available for Prediction</h2>
{% for file in files %}
<li>{{ file }}</li>
{% endfor %}

    <br>
    <p> Click on <a href={{ url_for('SpamAPI.predict') }}>PREDICT</a> to use the available models for prediction.</p>
    <p> Click on <a href={{ url_for('SpamAPI.train_dataset') }}>TRAIN</a> to train and build a new model.</p>
    <p> Click on <a href={{ url_for('SpamAPI.file_upload') }}>UPLOAD</a> to upload a new emails data set.</p>

</div>
{% endblock %}